* {
    box-sizing: border-box;

}
p {
    font-family:"Roboto";
    font-size: 14px;
}
body {
    margin: 0;
}
h1 {
    margin-top: 0;
    margin-bottom: 10px;
}
main {
    margin: 0 auto;
    width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.block {
    display: flex;
    flex-direction: column;
}
h1 {
    color: #9200ed;
    font-family:"Roboto";
    font-size: 22px;
}
.num {
    margin-bottom: 10px;
}
input {
    width: 300px;
    margin: 0 auto; 
}
.bb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bb img {
    width: 120px;
}
section {
    display: flex;
    flex-direction: column;
}
.block-hidden__text {
    font-weight: 500;
    color: #9200ed;
}
.block-hidden {
    display: none;
}
button {
    margin: 20px auto 0 auto;
    background-color: pink;
    padding: 10px;
}
.blocks {
    display: block;
}
.none {
    display: none;
}